﻿@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Topluluk Portalı</h1>
    <p class="lead">Topluluk portalı , öğrenci topluluklarından haber almanızı sağlar ve öğrencilerle bilgi alışverişinde bulunabilirsiniz..</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Haber 1</h2>
        <p>
            ........................
            ........................
            ........................
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Haber 2</h2>
        <p> ........................
            ........................
            ........................
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Haber 3</h2>
        <p> ........................
            ........................
            ........................
        </p>
        
    </div>
</div>